body {
	background: #f7feff;
	font-family: sans-serif;
	line-height: 1.254;
	margin: 0;
	padding: 0;
	border-top: 10px solid #8bc34a;
}

#main {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffeb3b;
	margin-top: 20px;
}

#header {
	background: #fd84ff;
	height: 250px;
	background: url('../img/header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 40px;
	float: left;
	width: 100%;
}

#menu {
	background: #00ff7e;
	height: 150px;
	width: 100%;
	float: left;
}

.title_menu {
	padding: 0;
	margin: 0;
}

.title_me {
	text-align: center;
	padding: 10px;
	margin: 0;
	text-transform: uppercase;
	color: #607d8b;
	border-bottom: 1px solid;
}

#slide {
	margin-top: 5px;
	float: left;
	height: 300px;
	width: 100%;
	background: url('../img/1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
}

#footer {
	float: left;
	width: 100%;
	height: auto;
	background-color: pink;
	padding-bottom: 20px;
}

.title_footer {
	text-align: center;
	text-transform: uppercase;
}

.avata {
	width: 150px;
}

.thanks {
	float: left;
    text-align: center;
    width: 100%;
    color: #fff;
    background: #e27b49;
    font-weight: bold;
}

.thanks p {
	margin: 0;
	padding: 10px;
}